* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: antiquewhite;

}

.container {
    height: 90vh;
    width: 90vh;
    background-color: rgb(199, 162, 114);
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.reset-btn {
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 7px;
    background-color: rgb(107, 113, 58);
    cursor: pointer;
}



.cards {
    background-color: rgb(121, 128, 65);
    border: 1px solid none;
    width: 400px;
    height: 400px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
    transform-style: preserve-3d;
    perspective: 500px;
    
}
/***styling cardi le div de card dans cards (js)**/
.cardi{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: aliceblue;
    position: relative;
}
.cardi::after{
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgb(199, 162, 114);
    border: 1px solid rgb(121, 128, 65);
}